<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="CONN_WRITE" connectionString="server=WRITE;Initial Catalog=DB_LF;UID=sa;password=as" />
      <add name="CONN_W7DEV" connectionString="server=W7DEV;Initial Catalog=DB_LF;UID=sa;password=as" />
      <add name="CONN_ZERO" connectionString="server=ZERO;Initial Catalog=DB_LF;UID=sa;password=as" />
    </connectionStrings>
    <appSettings>
      <add key="LOTE_PROCESSAMENTO" value="100000" />
    </appSettings>
</configuration>