USE [master]
GO
/****** Object:  Database [DB_LF]    Script Date: 6/24/2019 8:26:49 PM ******/
CREATE DATABASE [DB_LF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_LF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_LF.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_LF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_LF_log.ldf' , SIZE = 16576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_LF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_LF]
GO
/****** Object:  Table [dbo].[tbCombinacao]    Script Date: 6/24/2019 8:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCombinacao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[d1] [int] NOT NULL,
	[d2] [int] NOT NULL,
	[d3] [int] NOT NULL,
	[d4] [int] NOT NULL,
	[d5] [int] NOT NULL,
	[d6] [int] NOT NULL,
	[d7] [int] NOT NULL,
	[d8] [int] NOT NULL,
	[d9] [int] NOT NULL,
	[d10] [int] NOT NULL,
	[d11] [int] NOT NULL,
	[d12] [int] NOT NULL,
	[d13] [int] NOT NULL,
	[d14] [int] NOT NULL,
	[d15] [int] NOT NULL,
 CONSTRAINT [PK_tbCombinacao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbCombinacaoConcurso]    Script Date: 6/24/2019 8:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCombinacaoConcurso](
	[IdCombinacao] [int] NOT NULL,
	[IdConcurso] [int] NOT NULL,
	[p11] [bit] NULL,
	[p12] [bit] NULL,
	[p13] [bit] NULL,
	[p14] [bit] NULL,
	[p15] [bit] NULL,
 CONSTRAINT [PK_tbCombinacaoConcurso] PRIMARY KEY CLUSTERED 
(
	[IdCombinacao] ASC,
	[IdConcurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbConcurso]    Script Date: 6/24/2019 8:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbConcurso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NULL,
	[DataSorteio] [datetime] NOT NULL,
	[d1] [int] NOT NULL,
	[d2] [int] NOT NULL,
	[d3] [int] NOT NULL,
	[d4] [int] NOT NULL,
	[d5] [int] NOT NULL,
	[d6] [int] NOT NULL,
	[d7] [int] NOT NULL,
	[d8] [int] NOT NULL,
	[d9] [int] NOT NULL,
	[d10] [int] NOT NULL,
	[d11] [int] NOT NULL,
	[d12] [int] NOT NULL,
	[d13] [int] NOT NULL,
	[d14] [int] NOT NULL,
	[d15] [int] NOT NULL,
 CONSTRAINT [PK_tbConcurso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
